#video_background {
    position: absolute;
    bottom: 0px;
    right:0px;
    min-width: 100%;
    min-height: 100%;
    width: 50%;
    height: auto;
    z-index: -100;
    overflow: hidden;
}

#video_pattern {
    background: black;
    position:absolute;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}


#presentacion{
    
    text-align: center;
    font-size:40px;
    color:blueviolet;
    text-shadow: 1px 1px #7F0A7F;
    position: relative;
}
#presentacion:hover{

    text-align: center;
    font-size: 40px;
    color: blueviolet;
    text-shadow: 1px 1px #7F0A7F;
    background-color: #56070C;
    
    
}
#presentacion2 {
    text-decoration: none;
    
    text-align: center;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px white;
    position: relative;
}

#cajonFormulario{
    text-align: center;  
    font-size: 30px;
    color:aliceblue;
    text-shadow: 1px 1px #7F0A7F;
}

.button{

    color:#7F0A7F;
}
.button:hover {
    border-bottom: 1px solid;
    
    color: #7F0A7F;
}

a:link{
    text-decoration: none;
    
}

